:root {
  --tablet-size: 480px;
  --desctop-size: 1280px;
  --full-hd-size: 1600px;

  --primary-color: #AAC0AF;
  --primary-red: rgb(255,90,95);
  --primary-black: rgb(72, 72, 72);
  --primary-white: #ffffff;
  --primary-grey: #aaaaaa; 
  --primary-blue: rgba(94, 159, 228, 0.5);
  --focus-border: 2px dashed var(--primary-blue);

  --font-size: 16px;

  --spacer-half: 8px;
  --spacer: 16px;
  --spacer-double: 32px;
  --spacer-third: 48px;
  
  --auth-shadow: 0 20px 40px 0 rgba(0,0,0,.3);
  --shadow: 0px 3px 14px #e2e1e1;
  --card-shadow: inset 0 0 0 1px rgba(0,0,0,.03), 
                  8px 14px 38px rgba(39,44,49,.06), 
                  1px 3px 8px rgba(39,44,49,.03);
  --card-hover-shadow: inset 0 0 0 1px rgba(0,0,0,.03), 
                  0 2px 2px rgba(39,44,49,.06), 
                  0 4px 4px rgba(39,44,49,.06), 
                  0 8px 8px rgba(39,44,49,.06), 
                  0 16px 16px rgba(39,44,49,.06), 
                  0 32px 32px rgba(39,44,49,.06), 
                  0 64px 64px rgba(39,44,49,.06);
}

body {
  overflow-x: hidden;
}

body.is-fix {
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 420px) {
  .sticky-container {  
    position: sticky;
    top: 16px;
    height: 100%;
  }
}

.m-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.hotel {
  display: inline-block;
}

.hotel-enter {
  opacity: 0.01;
}

.hotel-enter.hotel-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.hotel-leave {
  opacity: 1;
}

.hotel-leave.hotel-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.cabinet-navlink {  
  display: flex;
  font-size: calc(var(--font-size)*1.125);
  color: var(--primary-white);
  padding: calc(var(--spacer)*0.75) var(--spacer);
  border-right: 4px solid transparent;
  font-weight: 400;
  letter-spacing: 1px;

  transition: border-color 200ms;
}

.cabinet-navlink:hover {
  color: var(--primary-white);
  text-decoration: none;
  background-color: #3A3D45;
}
